{% extends 'Links.html' %}
{% load static %}
{% block content %}

<div class="container ">

<br><br>

<div class="row">
    <div class="col-md-9">
        <h5 style="color: chocolate">Details:</h5>

        <div class="card card-body">

            <table style="background-color: darkgray" class="table table-sm">
                <tr>
                    <th>Student Id</th>
                    <th>Student Name</th>
                    <th>Batch Name</th>
                    <th>Date Of Birth</th>
                    <th>Graduation</th>
                    <th>Year Of Pass</th>
                    <th>EMail</th>

                </tr>
                {% for d in details %}
                <tr>
                    <td>{{d.StudentId}} </td>
                    <td>{{d.StudentName}} </td>
                    <td>{{d.BatchName}} </td>
                    <td>{{d.DateOfBirth}} </td>
                    <td>{{d.Graduation}} </td>
                    <td>{{d.YearOfPass}} </td>
                    <td>{{d.EMail}} </td>

                </tr>
                {% endfor %}
            </table>

        </div>
    </div>
</div>
{% endblock %}
